<footer class="container-fluid bg-light">
	<div class="row">
     
		<section class="col"><h3 style="color: rgb(208, 57, 57);">À Propos</h3>
    <p>Découvrez des œuvres uniques d'artistes français talentueux. Notre plateforme met en avant la richesse de la scène street art contemporaine.</p></section>
    
		<section class="col"><h3 style=" color: rgb(58, 106, 196);">Liens Utiles</h3>
    <ul class="me-5" style="list-style-type: none;">
      <li><a style="text-decoration:none; color:black;" href="#">Accueil</a></li>
      <li><a style="text-decoration:none; color:black;" href="#">Catalogue</a></li>
      <li><a style="text-decoration:none; color:black;" href="#">Artistes</a></li>
      <li><a style="text-decoration:none; color:black;" href="#">Contact</a></li>
    </ul></section>
    
		<section class="col"><h3 style=" color: rgb(245, 168, 2);">Contact</h3>
    <p>Adresse: 123 rue l'art francais<br>
       Email: french-art@gmail.com<br>
       Téléphone: 0102030405</p></section>
	</div>
</footer>
